# Back-end
/back-end/node_modules
/back-end/package-lock.json

# Front-end

# dependencies
/front-end-react/node_modules
/front-end-react/package-lock.json
/front-end-react/.pnp
.pnp.js

# testing
/front-end-react/coverage

# production
/front-end-react/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*