.home-margin {
  margin: 3rem 20%;
}

.home-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.home-center {
  text-align: center;
}

.home-featured-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5rem;
}

.home-otels-card-container {
  /* margin-top: 6rem; */
  display: flex;
  justify-content: space-between;
}
