@import "~antd/dist/antd.css";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  --color-primary: #fff;
  --color-accent: #feaf26;
  --color-third: #6f32ff;
  --color-fourth: #fcbb4a;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
}

.ant-btn-primary {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border: none;
}
