*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  --color-primary: #f2f2f2;
  --color-accent: #feaf26;
  --color-third: #6f32ff;
  --color-fourth: #ffcd41;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
}
