.jumbotron-reservation-container {
  display: flex;
  align-items: flex-end;
  /* width: max-content; */
  justify-content: space-evenly;
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 2rem 3rem;
  gap: 2rem;
}
